<!-- Validation failure messages -->
<% if @brand.present? %>
  <% if @brand.errors.any? %>
    <% @brand.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new brand
</h1>


<hr>

<!-- Form brand start -->
<form action="/create_brand" method="post">
<!-- Form brand end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @brand.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for organization_id start -->
  <div class="form-group">
    <label for="organization_id">
      Organization
    </label>

    <!-- Input for organization_id start -->
    <%= select_tag(:organization_id, options_from_collection_for_select(Organization.all, :id, :created_at, @brand.organization_id), :class => "form-control") %>
    <!-- Input for organization_id end -->
  </div>
  <!-- Label and input for organization_id end -->

  <!-- Label and input for characteristics start -->
  <div class="form-group">
    <label for="characteristics">
      Characteristics
    </label>

    <!-- Input for characteristics start -->
    <input type="text" id="characteristics" name="characteristics" class="form-control" value="<%= @brand.characteristics %>">
    <!-- Input for characteristics end -->
  </div>
  <!-- Label and input for characteristics end -->

  <button class="btn btn-block btn-outline-secondary">
    Create brand
  </button>
</form>

<hr>

<a href="/brands">
  Go back
</a>
