<h1>
  Edit productvariant #<%= @productvariant.id %>
</h1>

<hr>

<!-- Form productvariant start -->
<form action="/update_productvariant/<%= @productvariant.id %>" method="post">
<!-- Form productvariant end -->

  <!-- Label and input for product_id start -->
  <div class="form-group">
    <label for="product_id">
      Product
    </label>

    <!-- Input for product_id start -->
    <%= select_tag(:product_id, options_from_collection_for_select(Product.all, :id, :productline_id, @productvariant.product_id), :class => "form-control") %>
    <!-- Input for product_id end -->
  </div>
  <!-- Label and input for product_id end -->

  <!-- Label and input for characteristics start -->
  <div class="form-group">
    <label for="characteristics">
      Characteristics
    </label>

    <!-- Input for characteristics start -->
    <input type="text" id="characteristics" name="characteristics" class="form-control" value="<%= @productvariant.characteristics %>">
    <!-- Input for characteristics end -->
  </div>
  <!-- Label and input for characteristics end -->

  <button class="btn btn-block btn-outline-secondary">
    Update productvariant
  </button>
</form>

<hr>

<a href="/productvariants">
  Go back
</a>
