<form action="/create_brand_from_organization" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @brand.name %>">
  </div>

  <input type="hidden" name="organization_id" value="<%= @organization.id %>">

  <div class="form-group">
    <label for="characteristics">
      Characteristics
    </label>

    <input type="text" id="characteristics" name="characteristics" class="form-control" value="<%= @brand.characteristics %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create brand
  </button>
</form>
