<h1>
  Edit organization #<%= @organization.id %>
</h1>

<hr>

<form action="/update_organization/<%= @organization.id %>" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Update organization
  </button>
</form>

<hr>

<a href="/organizations">
  Go back
</a>
