<% if @organization.present? %>
  <% if @organization.errors.any? %>
    <% @organization.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new organization
</h1>


<hr>

<form action="/create_organization" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Create organization
  </button>
</form>

<hr>

<a href="/organizations">
  Go back
</a>
