<h1>
  Add a new organization
</h1>


<hr>

<form action="/create_organization" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Create organization
  </button>
</form>

<hr>

<a href="/organizations">
  Go back
</a>
