<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Productvariants

    <a data-toggle="collapse" href="#product_productvariants_new_form">
      Add productvariant
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @product.productvariants.each do |productvariant| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/productvariants/<%= productvariant.id %>">
          <%= productvariant.product_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_productvariant_from_product/<%= productvariant.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="product_productvariants_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
