<form action="/create_productvariant_from_product" method="post">

  <input type="hidden" name="product_id" value="<%= @product.id %>">

  <div class="form-group">
    <label for="characteristics">
      Characteristics
    </label>

    <input type="text" id="characteristics" name="characteristics" class="form-control" value="<%= @productvariant.characteristics %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create productvariant
  </button>
</form>
