<h1>
  Add a new product
</h1>


<hr>

<form action="/create_product" method="post">

  <div class="form-group">
    <label for="productline_id">
      Productline
    </label>

    <%= select_tag(:productline_id, options_from_collection_for_select(Productline.all, :id, :brand_id, @product.productline_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control">
  </div>

  <div class="form-group">
    <label for="characteristics">
      Characteristics
    </label>

    <input type="text" id="characteristics" name="characteristics" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create product
  </button>
</form>

<hr>

<a href="/products">
  Go back
</a>
