<form action="/create_product_from_productline" method="post">

  <input type="hidden" name="productline_id" value="<%= @productline.id %>">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @product.name %>">
  </div>

  <div class="form-group">
    <label for="characteristics">
      Characteristics
    </label>

    <input type="text" id="characteristics" name="characteristics" class="form-control" value="<%= @product.characteristics %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create product
  </button>
</form>
